#section-login-page {
  display: flex;
  margin: 20px 0;
}

.login-page-left {
  height: 550px;
  width: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page-left img {
  width: 75%;
  max-width: 600px;
}

.login-page-left h3 {
  color: var(--color-secondary);
  text-transform: uppercase;
}

.login-page-right {
  width: 48vw;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .login-page-left {
    display: none;
  }

  #section-login-page {
    justify-content: center;
  }
}



