.card-people {
  background-color: var(--color-quartiary);
  padding: 10px 30px;
  width: 437px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
}

.card-people img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card-people p {
  font-weight: 500;
  color: var(--color-secondary);
}

@media (max-width: 1177px) {
  .card-people {
    width: 400px;
  }
}

@media(max-width: 996px) {
  .card-people {
      padding: 10px 15px;
    width: 350px;
  }
}