.card-people {
  background-color: var(--color-quartiary);
  padding: 10px 30px;
  width: 437px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
}

.card-people:hover {
  border: 2px solid var(--color-secondary);
  & p {
    font-weight: 500;
  }
}
.card-people img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card-people p {
  font-weight: 400;
  color: var(--color-secondary);
}

@media (max-width: 996px) {
  .card-people {
    padding: 10px 15px;
    width: 370px;
  }
}

@media (max-width: 576px) {
  .card-people {
    padding: 10px 15px;
    display: flex;
    width: 90%;
  }
  .card-people p {
    font-weight: 400;
    font-size: 14px;
  }
}
