footer {
  margin-top: 80px;
  color: var(--color-secondary);
height: 200px;
}

footer h1 {
  max-width: 230px;
  border-bottom: 2px solid var(--color-secondary);
}
.contact-item a {
  font-size: 20px;
  display: flex;
  align-items: center;
}
