.card-community {
  background-color: var(--color-quartiary);
  padding: 10px 30px;
  width: 437px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
}

.card-community:hover {
border: 2px solid var(--color-secondary);
}

.card-community img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card-community p {
  font-weight: 500;
  color: var(--color-secondary);
}

@media (max-width: 996px) {
  .card-community {
    padding: 10px 15px;
    width: 370px;
  }
}
