main {
  width: 100%;
}

#section-reading-corner {
  height: 100%;
}

#section-reading-corner h1 {
  text-align: center;
  color: var(--color-secondary);
}

.cards-reading-corner-left {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 620px;
  justify-content: center;
}

.cards-reading-corner-container {
  display: flex;
  justify-content: center;
  gap: 15px;
 height: 580px;
}
