#section-register {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 70vh;
   padding: 20px;
}

@media(max-height: 480px) {
    #section-register {
display: none;
    }
}