.card-stop-watch {
  border: 2px solid var(--color-secondary);
  width: 300px;
  border-radius: 20px;
  color: var(--color-secondary);
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.card-stop-watch h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 400;
}

.card-stop-watch h3 {
  font-size: 22px;
}
.card-stop-watch-time {
  display: flex;
  justify-content: center;
}

.card-stop-watch-btns {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.card-stop-watch-btns button {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
}
