.card-stop-watch {
  border: 2px solid var(--color-secondary);
  max-width: 450px;
  padding: 20px;
  border-radius: 20px;
  color: var(--color-secondary);
}

.card-stop-watch h2 {
text-align: center;
font-size: 24px;
margin-bottom: 5px;
text-transform: uppercase;
}

.card-stop-watch h3 {
  font-size: 22px;
  }
.card-stop-watch-time {
  display: flex;
  justify-content: center;
}

.card-stop-watch-btns {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.card-stop-watch-btns button {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
}
