.card-register {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0px 10px 40px #00000036;
  gap: 10px;
}

.card-register h1 {
  color: var(--color-secondary);
  text-align: center;
  font-size: 28px;
}

.textfield {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
  font-size: 12pt;
  outline: none;
}

.btn-register {
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
}

.card-register .textfield:nth-child(5) {
  border-bottom: none;
}

.card-register .textfield:nth-child(5) input {
  border-bottom: 2px solid var(--color-secondary);
}
